:root{
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --grey:  hsl(0, 2%, 49%);
}


*, *::before, *::after{
  padding: 0;
  margin:0;
  box-sizing:border-box;
}

body{
  background-color: var(--black);
  font-family: "Inconsolata", monospace;
  color: var(--white);
  font-size: 40px;

}

.game-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  width: 100%;
  padding:clamp(1.5rem, 5vw, 3rem);
  margin-inline: auto;
}

.password{
  text-transform: uppercase;
  letter-spacing: 2px;
}

.board{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  gap: clamp(2rem, 5vw, 4rem);
  padding:clamp(1.5rem, 5vw, 3rem);
  flex-wrap: wrap;

}

.hanging-tree{
flex: 1;
max-width: 100%;
height: auto;
}

.alphabet{
flex: 1;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(clamp(2.5rem, 5vw, 4rem), 1fr));
gap: 0.5rem;
}

.letter{
  padding: clamp(0.5rem, 1.5vw, 2rem);  
  display: flex;
  justify-content: center;
  align-items: center;  
  border: 0.1rem solid var(--white);
  font-size: clamp(1.5rem, 2vw, 2rem);
  border-radius: 1rem;
  cursor: pointer;
 }

 .letter:hover{
   background-color: var(--grey);
 }


