:root{
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --dark-grey:  rgba(255, 255, 255, 0.2);
  --light-grey: rgba(255, 255, 255, 0.4);
}


*, *::before, *::after{
  padding: 0;
  margin:0;
  box-sizing:border-box;
}

body{
  background-color: var(--black);
  font-family: "Inconsolata", monospace;
  color: var(--white);
  font-size: 1rem;
}

.game-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100rem;
  width: 100%;
  padding:clamp(1.5rem, 5vw, 3rem);
  margin-inline: auto;
  min-height: 100dvh;
  padding-block-start: 4rem;
  gap: 2rem;
}

.password{
  text-transform: uppercase;
  letter-spacing: clamp(0.5rem, 2vw, 1.5rem);
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 900;
  margin-block-end: clamp(2rem, 5vh, 4rem);
  text-align: center;
}

.board{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  gap: clamp(2rem, 5vw, 4rem);
  padding:clamp(1.5rem, 5vw, 3rem);
  flex-wrap: wrap;

}

.hanging-tree{
  flex: 1;
  max-width: 100%;
  height: auto;
}

.alphabet{
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(clamp(2.5rem, 5vw, 4rem), 1fr));
  gap: 0.5rem;
}

.letter{
    aspect-ratio: 1 / 1; 
    display: flex;
    justify-content: center;
    align-items: center;  
    font-size: clamp(1.5rem, 2vw, 2rem);
    border-radius: 1rem;
    cursor: pointer;
    border: 0.125rem solid var(--dark-grey);
    transition: background-color 0.2s ease, border-color 0.2s ease, transform 0.1s ease;
 }

 .letter:hover{
  background-color: transparent;
  border-color: var(--white);
  transform: translateY(-0.125rem);
  box-shadow: 0 0 0.9375rem var(--light-grey);
 }

 .letter:active {
  transform: translateY(0.0625rem);
}

.btn-reset{
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  border: 0.15rem solid var(--light-grey);
  color: var(--white);
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-reset:hover{
  background-color: var(--white);
  color: var(--black);
  transform: scale(1.05);
  box-shadow: 0 0 0.9375rem var(--light-grey);
}

.letter.correct {
  background-color: #003300;
  border-color: #00C000;
  color: #00C000;
  pointer-events: none; 
}

.letter.wrong {
  background-color: #330000;
  border-color: #C00000;
  color: #C00000;
  pointer-events: none;
}

@media (max-width:48rem){

 .game-container {
    padding-block-start: 3rem;
    justify-content: center;
    gap: 1.5rem;
  }
 
  .board{
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    margin-block-start: 1rem;
  }

.hanging-tree {
    width: 100%;
    max-width: 22rem;
    height: auto;
  }

  .alphabet {
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    max-width: 22rem;
  }
}